.theorem {
display: block;
font-style: italic;
}
.theorem:before {
content: "Theorem (" attr(data-text) ") ";
font-weight: bold;
font-style: normal;
}
/*.theorem[text]:before {*/
/*content: "Theorem (" attr(data-text) ") ";*/
/*}*/
